<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章列表</title>
</head>
<body>
     <h1>文章列表</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="/posts/{{ post.id }}"><strong>{{ post.title }}</strong></a>
                <br><small>{{ post.created_at }}</small>
            </li>
        {% endfor %}
    </ul>
</body>
</html>